<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <h1>Shoe Store Name: <%= @store.store_name() %></h1>
      <h3>Store details for: <%= @store.store_name() %></h3>
      <hr>
      <% if @store.brands().any?() %>
        <h3>Shoe Brands</h3>
        <ul>
          <% @store.brands().each() do |brand| %>
            <li><%= brand.brand_name() %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no brands for this store.</p>
      <% end %>
      <br>
    <hr>
    <h3>Available Brands: </h3>
      <% if @brands.any?() %>
        <form action='/store/<%= @store.id %>' method="post">
          <input type="hidden" name="_method" value="patch">
          <% @brands.each() do |brand|%>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="brand_ids[]" value="<%= brand.id()%>"><%= brand.brand_name()%>
              </label>
            </div>
          <% end %>
          <button type="submit">Add Brands</button>
        </form>
      <% end %>
      <hr>
      <br>
      <h3>Update Store</h3>
        <form class="form-group" action="/store/<%= @store.id()%>/update" method="post">
          <input type="hidden" name="_method" value="patch">
          <label for="new_store_name">New Store Name: </label>
          <input type="text" name="new_store_name">
          <button class="btn btn-success" type="submit">Update</button>
        </form>
        <br>
        <hr>
      <h3>Delete Store</h3>
        <form class="form-group" action="/store/<%= @store.id() %>" method="post">
          <input class="form-control" type="hidden" name="_method" value="delete">
          <button class="btn btn-danger" type="submit">Destroy <%= @store.store_name() %></button>
        </form>
      <hr>
    <a href="/">Home</a>
  </div>
</div>
